@font-face {
    font-family: 'Young';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Young", serif;
}

html, body {
    width: 100%;
    margin: 0;
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    background-color: hsl(30, 54%, 90%);
}

h1 {
    margin: 0 0 2.4rem;
    font-size: 3.6rem;
    font-weight: 400;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

h3 {
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    margin-top: 0;
    color: hsl(332, 51%, 32%);
}

header {
    max-width: 100%;
    margin: 3rem auto 0;
}

hr {
    margin-top: 2.5rem;
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    padding: 0 2.8rem 1.4rem;
}

p, li, span, table td {
    font-family: "Outfit", sans-serif;
    font-size: 1.6rem;
}

p.intro {
    margin-bottom: 2rem;
}

section.nutrition {
    margin-bottom: 2rem;
}

section.preparation-info {
    padding: 2rem;
    border-radius: 15px;
    background-color: hsl(330, 100%, 98%);
}

span.attribution-heart {
    color: red;
}

table {
    width: 100%;
}

table tr td:first-child {
    padding-left: 3rem;
}

table tr td:last-child {
    padding-right: 2rem;
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

table tr:last-of-type td {
    border-bottom: none;
}

td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

ul.preparation-list {
    list-style-position: outside;
    padding-left: 3rem;
}

ul.preparation-list li {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

ul.ingredients-list, ol.instructions-list {
    padding-left: 2rem;

}

ul.ingredients-list li {
    list-style-position: outside;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

ol.instructions-list {
    list-style-position: outside;
}

ol.instructions-list li {
    padding-left: 1.4rem;
    margin-bottom: 1rem;
}

.attribution {
    font-size: 11px; text-align: center;
    margin: 2rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.banner-image {
    width: 100vw;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
}

span.bold {
    font-weight: 600;
}

/* MEDIA QUERIES */
@media (min-width: 528px) {

}

@media (min-width: 1440px) {
    body {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        margin-top: 8rem;
        padding-top: 2.8rem;
        border-radius: 15px;
    }

    .banner-image {
        max-width: 100%;
        border-radius: 15px;
    }
}